<p>
  <button id='upvote' action='upvote'><i class="fa fa-thumbs-o-up" style="font-size:15px"></i></button>
  Votes :<%= @question_upvotes %>
  <button id='downvote'><i class="fa fa-thumbs-o-down" style="font-size:15px"></i></button>
</p>
