<div>
  <section>
    <h3>Home section</h3>
  </section>
  <section>
    <h4>1. Post Questions</h4>
    <%= render "shared/question_form" %>
  </section>
  <section>
    <h4>2. Questions Feed (Must be updated with questions posted by all users)</h4>
    <%= render "static_pages/allquestions" %>
  </section>
</div>
